// Animations
@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes disappear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

// Landing Page
#landing-page {
  position: relative;
  height: 100vh;
  padding-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #desc-1, #desc-2 {
    visibility: hidden;
    // animation: 800ms ease-out appear;
  }

  #circle-1 {
    margin-top: 10px;
    visibility: hidden;
    width: 15px;
    height: 15px;
    border: 1px #ffffff solid;
    border-radius: 50%;
    background: linear-gradient(218.02deg, #000000 -77.62%, #FFFFFF 100%);
    transition: all ease-in-out 0.7s;
  }

  #circle-1:hover{
    transform: rotateZ(-540deg) scale(2, 2);
  }
}

// Main Page
#main-page {
  height: 100vh;
  padding-bottom: 20vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #heading {
    transform: translateY(100%);
    margin: 0;
    padding: 0;
    transition: all ease-in-out 0.7s;
  }

  #under-construction {
    visibility: hidden;
    margin-bottom: 5px;
    font-size: 25px;

    p {
      margin: 0;
    }
  }
}